@import 'https://code.highcharts.com/5/css/highcharts.css';
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}


/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  color: #7b7c7c;
  text-align: center;
}

.content{
    top:20px;
    margin-top: 50px;
}

.button{
  color: #333;
}

h2{
  color:#ffffff;
}

.dropdown-toggle.open> a, .dropdown-toggle.open a:active, .dropdown-toggle.open> a:hover, .dropdown-toggle.open> a:focus{
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #333;
  z-index:10;
}

.dropdown:hover .dropdown-menu{
  display:block;
}

.dropdown-menu a:hover{
  background-color:inherit;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
  color: #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #333;
  border: 0px solid #333;
  z-index:1;
}

#cloudimg{
  position: relative;
  width: 45px;
  height: 30px;
  top: -5px;
}

#chartimg{
  width: 20px;
  height: 25px;
  margin-right: 15px;
}

.dropdown-menu{
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
  z-index:90;
  padding: -15px;
}

.dropdown-item{
  font-size:14px;
  color: color: rgba(255,255,255,.75);
  background-color: transparent;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

div.row{
  margin-left: auto;
  margin-right: auto;
}

.container{
  margin-right: auto;
  margin-left:auto;
  width:100%;
}


.bgimg{
  width:100%;
  height:500px;
  text-align: center;
  margin-top: 50px;
  padding-top: 140px;
  background-image:url('/cloud-outline.png');
  background-repeat: no-repeat;
  image-resolution: from-image;
  background-size: 100%;
  z-index:900;
}

.lead{
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
}

.highcharts-background{
  fill: rgba(255, 255, 255, 0.00001);
}

.highcharts-plot-background {
  fill: #333333;
}

.highcharts-title{
  color: #ffffff;
  font-size: 36px;
  fill: rgb(255, 255, 255);
}
tspan{
  fill:#3e78d6;
}

.highcharts-axis.highcharts-color-0 text{
  fill: #ffffff;
}

.highcharts-legend-item text {
	fill:#ffffff !important;
}


/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead.clearfix{
  z-index: 100;
  background-color: #333333;
  opacity: 1;

}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-brand > a:hover,
.masthead-brand > a:focus {
  border-bottom-style: none;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.form-text{
  color: #a6a6a6;

}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.panel.panel-default{
  width:750px;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 90%; /* Must be percentage or pixels for horizontal alignment */
  }
  div#login-panel{
    width:90%;
    margin: 15px;
    margin-top: -55px;
  }
  div#reg-panel{
    width:90%;
    margin:15px;
    margin-top:100px;
  }

}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

.flash_message {
    width:100%;
    text-align:center;
    padding:5px;
    position:fixed;
    top:0;
    left:0;
    background-color:white;
    font-weight:bold;
    color: black;
    text-shadow: none;
}

.entries{
    top:20px;
    margin-top: 90px;
    height:100%;
    overflow: auto;
    position: relative;

}

.entry{
    border-color: white;
}

button.accordion{
  transition: 0.4s;
  background-color: #333;
  border: none;
  width: 100%;
}

button.accordion.active, button.accordion:hover, button.accordion:focus{
  background-color:#333;
  border: none;
  outline: none;
  text-rendering: optimizeLegibility;
}

div.accordion-panel{
  padding: 0 18px;
  display: none;
  max-height:0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity:0;
}

div.accordion-panel.show{
  opacity:1;
  max-height: 500px;
  background-color: white;
  border-radius: 15px;
}

.accordion-toggle{
  color: #ffffff;
}

.entry-body{
  color: #ffffff;
}

.entry{
  width:auto;
  margin-left: 150px;
  margin-right:150px;

}

#deletebtn{
  border: 2px;
  border-radius: 10px;
  border-style: groove;
  background-color: #333333;
  border-color: #ffffff;
  font-size: 24px;
  color: #ffffff;
}

#graph-container{
  width:150%;
  height:450px;
  position:relative;
  margin-top: 120px;
  left:-200px;
  text-align: center;
  right:90px;
}
